//-
	@file Demo page for the Search bar module
	@author Tom Jenkins tom.jenkins@kp360group.com
	@extends page_templates/_factory.jade
	@requires mixins/Search bar/[MODFILE]

//- Page dependencies
include _search_bar

//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	- var page = {}
	- page.id = "search_bar"
	- page.title = "search_bar"
	- page.mainScript = "search_bar.js"


//- Content block
block content

	+search_bar()
