//-
	@file Defines a <%= componentName %> mixin
	@author <%= name %> <%= email %>

//- Dependencies

//- Definition
mixin <%= id %>()

	h1
		| Sample mixin content for the <%= componentName %> module
