// Colours
$softgrey: #f2f2f2;
$lightgrey: #C2C2C2;
$midgrey: #8F8F8F;
$middarkgrey: #5C5C5C;
$darkgrey: #292929;
$superdarkgrey: #141414;


// Font sizes
$font-size-xsmall: 0.6rem;
$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.125rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem;
$font-size-xxxlarge: 2.3125rem;
$font-size-xxxxlarge: 4rem;

$lightfontweight: 100;
$regularfontweight: 300;
$mediumfontweight: 600;
$heavyfontweight: 700;

$font-family: Arial, "Lucida Grande", sans-serif;
//$font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Whitespace
$wsunit: 1.25rem; // nominally 20px
$wsunit2: 0.6rem; // nominally 10px
