/**
 * @file Defines styles for a nav_item module
 * @author Phil Hauser phil.hsr@gmail.com
 */

// replace with medium and large
// element breakpoints
$medium: 99999px;
$large: 99999px;


// colors
$nav-item-hover-color: #ffffff;


// element color pallet
// e.g $button-tint: #000000


//Default style (Small first)


// @include at-min-width($medium + 1){
// 	//medium styles
// }


// @include at-min-width($large + 1){
// 	//large styles
// }

nav ul {
	list-style: none;
	li {
		height: 100%;
		a{
			color: inherit;
			margin: 0.5rem;
			margin-top: -1rem;
			text-decoration: none;
		}
	}
}