//-
	@file Defines a header mixin
	@author Phil Hauser phil.hsr@gmail.com

//- Dependencies
include ../../atoms/_logo/_logo
include ../../molecules/_nav_items/_nav_items


//- Definition
mixin header()
	header(data-html2canvas-ignore)
		+nav_items()
		+logo()
	.blurheader
