//-
	@file Defines a Header mixin
	@author Tom Jenkins tom.jenkins@kp360group.com

//- Dependencies
include ../../atoms/_logo/_logo

//- Definition
mixin header()

	h1
		| Sample mixin content for the Header module
