//-
	@file Page instance: home 
	@extends _page_default/_page_default

//- Page dependencies
include ../../atoms/_headings/_headings
include ../../molecules/_content_block/_content_block


//- Page template
extends ../../templates/_page_default/_page_default

//- Page variables to pass to template
block page_vars
	- var page = {}
	- page.id = "home"
	- page.title = "home"
	- page.mainScript = "home.js"


//- Content block
block content

	+content_block([
		{
			header: "UX Strategy",
			text: " UX design affects the whole web development \
			process; I developed a holistic UX Methodology\
			<br>\
			<br>\
			<a href='http://pjhauser.github.io/UX-Methodology/'>UX Methodology</a>"
		},
		{
			header: "ACE",
			text: "After being inspired by Brad Frosts' \
			atomic design approach for web design \
			I built ACE, the Atomic Component Engine \
			<br>\
			<br>\
			<a href='https://github.com/atomic-component-engine/ace'>ace github</a>"
		},
		{
			header: "Inspiration",
			text: "This is just a collection of sites / places that give me inspiration:\
			<br>\
			<br>\
			<a href='https://www.vitsoe.com/files/assets/1000/17/VITSOE_Dieter_Rams_speech.pdf'>dieter rams</a>\
			<br>\
			<a href='http://www.aisleone.net/'>aisle one</a>\
			<br>\
			<a href='http://www.cssdsgn.com/'>css dsgn</a>\
			<br>\
			<a href='http://designmuseum.org/'>design museum</a>"
		}
	], "intro")

	+content_block([
		{
			img: "/img/ux-desk.png",
			text: "I am a UX Architect and <br>Front End Developer based in Liverpool \
			<span> I work though a process of research, prototype, \
			test and repeat</span>"
		}
	])

	+content_block([
		{
			img: "/img/flexLogo.png",
			text: "What I do: <br>I design solutions around its users \
			<span> Like with Flex (an in-gym iPad kiosk that acts as a \
			routine manager), I design solutions by understanding \
			and balancing, users, business and technology </span>\
			<br>\
			<a href='#'>see some more examples</a>"
		}
	], "what-i-do")


	+content_block([
		{
			img: "/img/topblueprint.jpg",
			text: "Why I'm a UX'er \
			<span>Technology is designed to be used by people, to \
			enable them to achieve more; without UX technology \
			can remain confusing and frustrating, opposed to empowering</span>"
		}
	])


